body {
    background: linear-gradient(45deg, #fd746c, #ff9068) center center/cover;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    overflow: hidden;
}

.app-toDo{
    min-width: 380px;
    max-width: 50%;
    min-height: 480px;
    max-height: 100%;
    background: white;
    box-shadow: 0 0 5px rgba(25, 25, 25, 0.25);
    padding: 30px;
    border-radius: 10px;
}

.header{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.btn{
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
}
